/* Variables */

:root {
    --color-bg: #F2F2F2;
    --color-black: #000000;
    --color-dark-text: #464646;
    --color-dark-decor: #363636;
    --color-darker-decor: #272525;
    --color-white: #FFFFFF;
    --color-gray: #DBDBDB;
    --color-graydark: #ABABAB;
    --color-graydark-lighter: #A6A6A6;
    --color-graydark-bolder: #E5E5E5;

    --color-light-yellow: #F0C52E;
    --color-light-yellow-footer: #FFC600;
    --color-salad: #91C92F;

    --font-size-base: 15px;
    --line-height-base: 30px;
    --font-size-head: 18px;
    --line-height-head: 24px;
    --font-size-head-big: 47px;
    --line-height-head-big: 48px;
    --line-height-slider: 56px;

    --font-gilroy: "Gilroy", "Tahoma", sans-serif;
    --font-opensans: "Open Sans", "Tahoma", sans-serif;
    --font-weight-regular: 400;
    --font-weight-light: 300;
    --font-weight-extrabold: 800;

    /* Переменные под letter-spacing */
    --letter-spacing-base: 0.18px;

    /* Opacity */
}

/* Fonts */

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 300;
    src:
        url("../fonts/opensanslight.woff2") format("woff2"),
        url("../fonts/opensanslight.woff") format("woff")
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    src:
        url("../fonts/opensans.woff2") format("woff2"),
        url("../fonts/opensans.woff") format("woff")
}

@font-face {
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 400;
    src:
        url("../fonts/gilorylight.woff2") format("woff2"),
        url("../fonts/gilorylight.woff") format("woff")
}

@font-face {
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 800;
    src:
        url("../fonts/gilroyextrabold.woff2") format("woff2"),
        url("../fonts/gilroyextrabold.woff") format("woff")
}

/* Global */

body {
    min-width: 1160px;
    margin: 0;
    padding: 0;

    font-family: var(--font-opensans);
    font-weight: var(--font-weight-light);
    font-size: var(--font-size-base);
    line-height: var(--line-height-base);
    color: var(--color-dark-text);

    background-color: var(--color-white);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.vissually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.container {
  width: 1160px;
  margin: 0 auto;
  box-sizing: border-box;
}

.button {
  font-family: var(--font-gilroy);
  font-weight: var(--font-weight-extrabold);
  font-size: 18px;
  line-height: 26px;
  color: var(--color-black);
  text-transform: uppercase;
  letter-spacing: 3.5px;

  /* background-color: var(--color-light-yellow); */
  background-color: transparent;
  background-image: url("../img/button-bg.jpg");
  background-repeat: repeat-x;
  background-position: 50% 50%;

  outline: none;
  border: none;
  cursor: pointer;
}

.button:hover,
.button:focus {
  background-color: var(--color-light-yellow);
}

.button:active {
  color:rgba(0, 0, 0, 0.3)
}

/* Utils */

.item-margin-left-auto {
  margin-left: auto;
}

.item-margin-right-auto {
  margin-right: auto;
}


/* Header */
.header {
  color: var(--color-black);
}

.header-logo {
  position: relative;
  top: -17px;
}

.header-logo:focus,
.header-logo:hover {
  opacity: 0.6;
}

.header-logo:active {
  opacity: 0.3;
}

.header-label-search {
  position: relative;
}

.header-label-search::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 5px;
  width: 16px;
  height: 16px;

  background-image: url("../img/search.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}


.header-search {
  padding-left: 40px;
  padding-right: 20px;

  font: inherit;

  border: none;
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
  background-color: transparent;
}

.header-search:hover {
  outline: none;
}

.header-search:focus {
  outline: none;
  border-bottom: 2px solid black;
}

.header-search::placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.header-search:hover::placeholder{
  color: rgba(0, 0, 0, 0.6);
}

.header-search:focus::placeholder {
  color: rgba(0, 0, 0, 1);
}

.navigation {

}

.navigation-wrap {
  width: 1160px;
  margin: 0 auto;
  margin-top: 40px;
  padding: 0 60px;
  padding-bottom: 50px;
  box-sizing: border-box;

  /* background-color: #F7E184; */
  background-color: #FAEB80;
}

.navigation-row-wrap {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.navigation-row-wrap p {
  margin: 0;
}

.navigation-user-list,
.navigation-site-list,
.navigation-site-sublist,
.navigation-site-subitem {
  margin: 0;
  padding: 0;
  list-style: none;
}

.navigation-user-list,
.navigation-site-list {
  display: flex;
  flex-wrap: wrap;
}

.navigation-user-list {
  margin-bottom: 40px;
  /* outline: 2px dashed orangered; */
}

.navigation-user-item {
  position: relative;
  padding-right: 32px;
  padding-left: 26px;
}

.navigation-user-item:last-of-type {
  padding-right: 0;
}

.navigation-user-item.item-margin-left-auto {
  margin-left: auto;
}

.navigation-user-item.navigation-user-exit a {
  opacity: 0.3 ;
}

.navigation-user-item.navigation-user-login {
  padding-right: 0;
}

.navigation-user-item.navigation-user-login a::before,
.navigation-user-item.navigation-user-compare a::before,
.navigation-user-item.navigation-user-busket a::before{
  content: "";
  position: absolute;
  top: 8px;
  left: 0;
  width: 12px;
  height: 13px;

  background-repeat: no-repeat;
  background-position: 0 0;
}

.navigation-user-item.navigation-user-login a::before {
  background-image: url("../img/user.svg");
}

.navigation-user-item.navigation-user-compare a::before {
  background-image: url("../img/compare.svg");
}

.navigation-user-item.navigation-user-busket a::before {
  background-image: url("../img/cart.svg");
}

.navigation-user-list a {
  font-family: var(--font-gilroy);
  font-weight: var(--font-weight-light);
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
  color: var(--color-black);
}

.navigation-site-list {
  /* outline: 2px dashed orangered; */
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: 3fr repeat(3, 1fr);
}

.navigation-site-item {
  /* padding-right: 40px;  */
}

.navigation-site-item:last-of-type {
  margin-left: auto;
}


.navigation-site-item.dropdown {
  position: relative;
  width: max-content;
}

.navigation-site-item.dropdown > a {
  position: relative;
  padding-right: 28px;
}

.navigation-site-item.dropdown > a::before,
.navigation-site-item.dropdown > a::after {
  content: "";
  position: absolute;
  top: 8px;
  right: 0;
  width: 16px;
  height: 2px;

  background-color: black;
  opacity: 0.3;
}

.navigation-site-item.dropdown > a::after  {
  transform: rotate(90deg);
}

.navigation-site-list a {
  font-family: var(--font-gilroy);
  font-weight: var(--font-weight-extrabold);
  font-size: var(--font-size-head);
  line-height: var(--line-height-head);
  text-transform: uppercase;
  color: var(--color-black);
  letter-spacing: 3.6px;
}

.navigation-user-item a:hover,
.navigation-user-item a:focus,
.navigation-site-item a:hover,
.navigation-site-item a:focus {
  opacity: 0.6;
}

.navigation-user-item.user-button-exit,
.navigation-user-item a:active,
.navigation-site-item a:active {
  opacity: 0.3;
}

.navigation-site-sublist {
  display: grid;
  grid-template-columns: repeat(3, 230px);
  grid-template-rows: repeat(3, auto);
  grid-auto-flow: column;
  box-sizing: border-box;
  position: absolute;
  left: -60px;
  right: 0;
  z-index: 2;
  width: 1160px;
  min-height: 200px;
  padding: 0 60px;
  padding-bottom: 70px;
  /* background-color: #F7E296; */
  background-image: linear-gradient(to bottom, #FAEB80 50px, #F7E296 50px);

  display: none;
}

.navigation-site-subitem:last-of-type {
  grid-column: 3;
  grid-row: 2;
}

.navigation-site-subitem a {
  font-family: var(--font-opensans);
  font-weight: var(--font-weight-light);
  font-size: var(--font-size-base);
  line-height: 36px;
  letter-spacing: 0.15px;
  text-transform: capitalize;
}

.navigation-site-item.dropdown:hover  .navigation-site-sublist {
  display: grid;
  /* z-index: 3; */
}

/* Wrapper-middle ---- */

.wrapper-middle {

}

.main-title,
.breadcrumbs,
.catalog-columns:first-of-type {
  padding-left: 50px;
}

/* Main */

/* Main title */

.main-title {
  margin-top: 44px;
  margin-bottom: 40px;

  font-family: var(--font-gilroy);
  font-weight: var(--font-weight-extrabold);
  font-size: var(--font-size-head-big);
  line-height: var(--line-height-big);
  color: var(--color-black);
}

/* Page catalog */


.page-catalog {
  display: grid;
  grid-template-columns: 1fr 274px 832px 1fr;
  /* outline: 1px solid salmon; */

  background-color: var(--color-white);
}

.page-catalog::before {
  content: "";
  /* width: 100%; */
  background-image: linear-gradient(to bottom, #DBDBDB 70px, #EEEEEE 0);;
}

.page-catalog::after {
  content: "";
  background-image: linear-gradient(to bottom, #EBEBEB 70px, #FFFFFF 0);
}

.empty-column {
  background-color: #d3d3d3;
}

.breadcrumbs {
  grid-column: 1 / -1;
  margin-bottom: 46px;
}

.breadcrumbs-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
}

.breadcrumbs-item:not(:last-of-type) {
  position: relative;
  padding-right: 40px;
}

.breadcrumbs-item:not(:last-of-type)::after {
  content: "";
  position: absolute;
  top: 12px;
  right: 15px;
  width: 5px;
  height: 8px;

  background-image: url("../img/nav-arrow.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.breadcrumbs a {
  font-size: 14px;
  line-height: 24px;
  color: var(--color-black);

  opacity: 0.3;
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
  opacity: 0.6;
}

.breadcrumbs a:active {
  opacity: 0.1;
}

.breadcrumbs-item:last-of-type a,
.breadcrumbs-item:last-of-type a:hover,
.breadcrumbs-item:last-of-type a:focus,
.breadcrumbs-item:last-of-type a:active {
  opacity: 0.3;
}

/* catalog-columns ---- */

.catalog-columns {
  outline: 3px dashed darksalmon;
}

.catalog-columns:first-of-type {
  width: 274px;
  outline: 5px solid red;
  background-color: #EEEEEE;
  background-image: url("../img/bg-filter-tittle.jpg");
  background-repeat: repeat-x;

}

.catalog-columns:last-of-type {
  width: 832px;
  background-color: #d1d1d1;
}

.filter {
  font-size: 14px;

  background-image: linear-gradient(to bottom, #DBDBDB 70px, #EEEEEE 0);
}

.filter-title {
  margin-top: 23px;
  margin-bottom: 22px;

  font-family: var(--font-gilroy);
  font-weight: var(--font-weight-extrabold);
  font-size: 16px;
  line-height: 24px;
  color: var(--color-black);
  text-transform: uppercase;

  /* background-color: var(--color-gray); */
}

.filter-form {
  margin-top: 70px;
}

.filter-form-fieldset-wrap {
  margin-bottom: 30px;
  padding-top: 15px;
  width: 200px;

  border-top: 2px solid var(--color-black);
}

.filter-form fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.filter-form .button {
  width: 200px;
}

.filter-form legend {
  margin-bottom: 25px;

  font-family: var(--font-gilroy);
  font-weight: var(--font-weight-extrabold);
  font-size: var(--font-size-head);
  line-height: var(--line-height-head);
  color: var(--color-black);
}

.filter-range-bar {
  position: relative;
  width: 100%;
  height: 2px;
  margin-bottom: 10px;

  background-image: linear-gradient(to right, #91C92F 110px, #DBDBDB 110px);
}

.filter-range-bar::before,
.filter-range-bar::after {
  content: "";
  position: absolute;
  top: -8px;
  width: 20px;
  height: 20px;

  border-radius: 50%;
  /* background: #ABABAB;
  box-shadow: 0 0 0 8px #FFFFFF, 0 2px 0 8px rgba(0, 0, 0, 0.05); */

  background-image: radial-gradient(circle at center, #ABABAB 2px, #FFFFFF 2px);
  box-shadow: 0 2px 0 0px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.filter-range-bar::before {
  left: -2px;
}

.filter-range-bar::after {
  left: 110px;
}

/* .filter-range-bar::before:focus-visible,
.filter-range-bar::after:focus-visible {
  outline: auto 2px;
} */

.filter-label-price-range {
  font-family: var(--font-gilroy);
  font-weight: var(--font-weight-light);
  font-size: 14px;
  line-height: 24px;
  opacity: 0.2;
}

.filter-label-price-range span:first-of-type {
  padding-right: 60px;
}

.filter-list-checkbox,
.filter-list-radio {
  margin: 0;
  padding: 0;

  list-style: none;
}

.filter-list-checkbox label,
.filter-list-radio label {
  font-family: var(--font-opensans);
  font-weight: var(--font-weight-light);
  font-size: 14px;
  line-height: 40px;
  color: var(--color-black);
  text-transform: capitalize;
}

.filter-item-checkbox:not(:last-of-type),
.filter-item-radio:not(:last-of-type) {
  /* margin-bottom: 10px; */
}

.filter-item-checkbox:hover + label::before,
.filter-item-radio:hover + label::before,
.filter-item-checkbox:focus + label::before,
.filter-item-radio:focus + label::before {
  opacity: 0.6;
}


.filter-item-checkbox:disabled,
.filter-item-radio:disabled {
  opacity: 0.25;
}

.filter-item-checkbox,
.filter-item-radio {
  position: relative;
}

.filter-item-radio input:focus-visible + label,
.filter-item-checkbox input:focus-visible + label {
  outline: auto 2px;
  outline-offset: 7px;
  border-radius: 1px;
}

.filter-item-radio label,
.filter-item-checkbox label {
  padding-left: 40px;
}

.filter-item-radio label::before,
.filter-item-checkbox label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 8px;
  width: 23px;
  height: 23px;

  /* background-color: #555; */
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-item-radio input:checked +  label::before,
.filter-item-checkbox input:checked + label::before {
  width: 27px;
  height: 23px;

  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-item-radio input:hover +  label::before,
.filter-item-checkbox input:hover + label::before {
  opacity: 0.6;
}

.filter-item-radio input:active +  label::before,
.filter-item-radio input:focus +  label::before,
.filter-item-checkbox input:active + label::before,
.filter-item-checkbox input:focus + label::before {
  opacity: 1;
}

.filter-item-radio label::before {
  top: 7px;
  width: 25px;
  height: 25px;

  background-image: url("../img/radio-off.svg");
}

.filter-item-radio input:checked +  label::before {
  width: 25px;
  height: 25px;

  background-image: url("../img/radio-on.svg");
}


/* Products */

.products {

}

.products-sort-panel {
  display: flex;
  align-items: center;
  height: 70px;
  margin-bottom: 70px;
  padding-left: 70px;
  background-color: #EBEBEB;
}

.products-sort-panel b {
  padding-right: 55px;

  font-family: var(--font-gilroy);
  font-weight: var(--font-weight-extrabold);
  font-size: var(--font-size-head);
  line-height: var(--line-height);
  color: var(--color-black);
  text-transform: uppercase;
}

.products-sort-list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0;
  padding: 0;

  list-style: none;
}

.products-sort-item:not(:last-of-type) {
  padding-right: 25px;
}

.products-sort-button {
  font-family: var(--font-opensans);
  font-weight: var(--font-weight-regular);
  font-size: 14px;
  line-height: 18px;
  color: var(--color-black);

  opacity: 0.3;
}

.products-sort-button:hover,
.products-sort-button:focus {
  opacity: 0.6;
}

.products-sort-button:active,
.products-sort-button-active {
  opacity: 1;
}

.products-sort-button-increase,
.products-sort-button-decrease {
  display: inline-flex;
  align-items: stretch;
  justify-content: stretch;
  width: 30px;
  height: 100%;

  background-image: url("../img/icon-down-dir.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 11px 10px;
}

.products-sort-item.products-sort-item--spec-margin {
  padding-right: 10px;
}

.products-sort-button-decrease {
  transform: rotate(180deg);
}

.products-list-wrap {
  padding-left: 70px;
  margin-bottom: 35px;
}

.products-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 40px;
  grid-row-gap: 70px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.products-item {
  position: relative;

  /* outline: 2px dashed darkorchid; */
}


.products-item a {
  display: flex;
  flex-direction: column;
  color: inherit;
}

.products-item-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.products-item h3 {
  width: 265px;
  margin: 0;
  padding: 10px 0;

  font-family: var(--font-gilroy);
  font-weight: var(--font-weight-extrabold);
  font-size: var(--font-size-head);
  line-height: var(--line-height);
  color: var(--color-black);
}

.products-item p {
  margin: 0;
  padding: 10px 0;
  padding-left: 10px;

  font-family: var(--font-gilroy);
  font-weight: var(--font-weight-light);
  font-size: 16px;
  line-height: 24px;
  color: var(--color-dark-text);
}

.products-wrap-button {
  position: absolute;
  z-index: 1;

  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 360px;
  height: 380px;


}

.products-item:hover .products-item-img-wrap {
  /* background-color: rgba(0, 0, 0, 0.7); */
  filter: brightness(66%) grayscale(0.5) blur(1px) opacity(85%);
}

.products-item:hover .products-wrap-button,
.products-item:focus .products-wrap-button {
  display: flex;
}

.products-button-basket {
  margin-bottom: 20px;
  padding: 5px 38px;

  cursor: pointer;
}

.products-button-compare {
  font-family: var(--font-opensans);
  font-weight: var(--font-weight-light);
  font-size: 13px;
  color: var(--color-black);

  background: none;

  opacity: 0.5;
}

.products-button-compare:hover,
.products-button-compare:focus {
  background: none;
  opacity: 1;
  cursor: pointer;
}

.products-button-compare:active {
  background: none;
  opacity: 0.2;
  cursor: pointer;
}

/* Pagination */

.pagination {
  margin-bottom: 77px;
  padding-left: 70px;
}

.pagination-wrap {
  display: flex;
  justify-content: space-between;

  background-color: #EBEBEB;
}

.pagination-button {
  padding-left: 30px;
  padding-right: 30px;

  font-family: var(--font-gilroy);
  font-weight: var(--font-weight-extrabold);
  font-size: 16px;
  line-height: 24px;
  color: var(--color-black);
  text-transform: uppercase;

  background-color: transparent;
  border: none;
}

.pagination-button:hover,
.pagination-button:focus {
  background-color: #D9D9D9;

  cursor: pointer;
}

.pagination-button:active {
  color: rgba(0, 0, 0, 0.3);
}

.pagination-list {
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;
}

.pagination-item:not(:last-of-type) {
  /* padding-right: 30px; */
}

.pagination-link {
  display: inline-flex;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
  height: 70px;

  font-family: var(--font-gilroy);
  font-weight: var(--font-weight-extrabold);
  font-size: 16px;
  line-height: 24px;
  color: var(--color-black);
  text-transform: uppercase;

  opacity: 0.3;
}

.pagination-link:hover,
.pagination-link:focus {
  opacity: 0.6;
}
.pagination-link-current:hover,
.pagination-link-current:focus,
.pagination-link-current {
  opacity: 1;
}

/* Special (special-slider) */

.special {
  margin-bottom: 80px;
}

.special-wrap {
  position: relative;
  padding: 0 80px;
  padding-top: 30px;
  background-image: linear-gradient(to bottom, #FAEB80 150px, transparent 150px);
}


.special-slider-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.special-slider-item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.special-slider-item:not(:first-child) {
  display: none;
}

.special-slider-item::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 72px;
  width: 100px;
  height: 7px;
  background-color: #fff;
}

.special-slider-item::before {
  content: "00";
  position: absolute;
  top: 0px;
  right: 80px;
  font-family: var(--font-gilroy);
  font-weight: var(--font-weight-extrabold);
  font-size: 180px;
  line-height: 1;
  color: white;
}

.special-slider-item-1::before {
  content: "01";
}

.special-slider-item-2::before {
  content: "02";
}

.special-slider-item-3::before {
  content: "03";
}

.special-slider-column {
  z-index: 1;
}

.special-slider-column:last-of-type {
  padding-top: 92px;
}

.special-slider-item img {

}

.special-slider-item h3 {
  margin: 0;
  margin-bottom: 10px;

  font-family: var(--font-gilroy);
  font-weight: var(--font-weight-extrabold);
  font-size: var(--font-size-head-big);
  line-height: var(--line-height-slider);
  color: var(--color-black);
}

.special-slider-item p {
  margin: 0;
  margin-bottom: 50px;
}

.special-slider-block-controls {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 60px;
}

.special-slider-item .button {
  padding: 0 42px;
}

.special-slider-switches {
  display: flex;

  list-style: none;
}

.special-slider-switches .button {

}

.special-slider-switches .control {
  box-sizing: border-box;
  display: block;
  width: 12px;
  height: 12px;
  background-color: transparent;
  border: 1px solid black;
  border-radius: 50%;
  padding: 0;
  cursor: pointer;
}

.special-slider-switches .control-active {
  position: relative;
}

.special-slider-switches .control-active::after {
  box-sizing: border-box;
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 4px;
  height: 4px;
  margin-left: -2px;
  margin-top: -2px;
  background-color: transparent;
  border: 1px solid black;
  border-radius: 50%;
}

.special-slider-switches li {
  /* padding-right: 21px; */
  padding: 5px;
  margin-right: 16px;
  cursor: pointer;
}

.special-slider-switches li:last-of-type {
  margin-right: 0;
}

.special-slider-item table {
  border-collapse: collapse;
}

.special-slider-item th {
  font-family: var(--font-gilroy);
  font-weight: var(--font-weight-light);
  font-size: 36px;
  line-height: 48px;
  color: var(--color-black);
}

.special-slider-item td {
  font-family: var(--font-opensans);
  font-weight: var(--font-weight-light);
  font-size: 13px;
  line-height: 20px;
  color: var(--color-dark-text);
}

.special-slider-item th:not(:last-of-type),
.special-slider-item td:not(:last-of-type) {
  padding-right: 78px;
}


/* Catalog */

.catalog {
  margin-bottom: 80px;
}

.catalog ul {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  justify-content: space-between;
  gap: 40px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.ctalog li {

}

.catalog-wrap-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 160px;
  margin: 0;
  margin-bottom: 33px;
  padding: 0;

  /* background-color: rgba(240, 197, 46, 0.5); */
  background-color: #F9ECAB;
}

.catalog li:nth-of-type(2) .catalog-wrap-img {
  align-items: flex-end;
}

.catalog a {
  font-family: var(--font-gilroy);
  font-weight: var(--font-weight-extrabold);
  font-size: var(--font-size-head);
  line-height: var(--line-height-head);
  color: var(--color-black);
  letter-spacing: 0.18px;
}

.catalog a:hover .catalog-wrap-img,
.catalog a:focus .catalog-wrap-img{
  background-color: rgba(240, 197, 46, 1);
}

.catalog a:active .catalog-wrap-img,
.catalog a:active .catalog-wrap-title {
  opacity: 0.3;
}

/* Features */

.features {
  margin-bottom: 80px;

  background-color: var(--color-graydark-bolder);
}

.features-wrap {
  display: grid;
  grid-template-columns: 276px 1fr;
  grid-template-rows: repeat(3, auto);
  align-items: sart;
  padding-top: 80px;
  padding-bottom: 140px;
}


.features-slider-switches .button {
  padding: 5  px 20px;
}

.features-slider-switches .button-features-switch-current,
.features-slider-switches .button:active {
  width: 100%;

  text-align: left;
  color: #F7E184;

  background-color: var(--color-black);
  background-image: none;
}

.features-slider-switches,
.features-slider-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.features-slider-switches {
  padding-top: 32px;
  border-right: 7px solid var(--color-black);
}

.features-slider-switches li:not(:last-of-type) {
  margin-bottom: 30px;
}

.features-slider-list {
  width: 456px;
  padding-left: 116px;
}

.features-slider-item {

}

.features-slider-item:not(:first-of-type) {
  display: none;
}

.features-slider-item h3 {
  margin: 0;
  margin-bottom: 32px;

  font-family: var(--font-gilroy);
  font-weight: var(--font-weight-extrabold);
  font-size: var(--font-size-head-big);
  line-height: var(--line-height-head-big);
  color: var(--color-black);
  letter-spacing: 0.21px;
}

.features-slider-item p {
  margin: 0;

  letter-spacing: 0.15px;
}

/* Partners */

.partners {
  margin-bottom: 90px;
}

.partners ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.partners-link {
  display: block;
  width: 260px;
  height: 100px;
}

.partners-link-djis {
  background-image: url("../files/logo-1.jpg");
}

.partners-link-djis:hover {
  background-image: url("../files/logo-1-hover.jpg");
}

.partners-link-spgadgets {
  background-image: url("../files/logo-2.jpg");
}

.partners-link-spgadgets:hover {
  background-image: url("../files/logo-2-hover.jpg");
}

.partners-link-gopros {
  background-image: url("../files/logo-3.jpg");
}

.partners-link-gopros:hover {
  background-image: url("../files/logo-3-hover.jpg");
}

.partners-link-avives {
  background-image: url("../files/logo-4.jpg");
}

.partners-link-avives:hover {
  background-image: url("../files/logo-4-hover.jpg");
}

/* index-columns */

.index-columns {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 114px;
  align-content: start;
  margin-bottom: 90px;
}

/* About & Contacts */

.about,
.contacts {
  display: flex;
  flex-direction: column;
  padding-top: 45px;
  position: relative;
}

.about::before,
.contacts::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 80px;
  height: 7px;
  background-color: var(--color-black);
}

.about h2,
.contacts h2 {
  margin: 0;
  margin-bottom: 50px;
}

.about p,
.contacts p {
  margin: 0;
  margin-bottom: 40px;
}

.about .button,
.contacts .button {
  align-self: flex-start;
  margin-top: auto;
  padding: 0 25px;
}

/* About */

.about {

}

.about h2 {
  font-family: var(--font-gilroy);
  font-weight: var(--font-weight-extrabold);
  font-size: var(--font-size-head-big);
  line-height: var(--line-height-head-big);
  color: var(--color-black);
}

.about ul {
  margin-bottom: 60px;
  padding: 0;

  list-style: none;
}

.about li {
  font-family: var(--font-gilroy);
  font-weight: var(--font-weight-extrabold);
  font-size: 16px;
  line-height: 40px;
  color: var(--color-black);
}

/* Contacts */

.contacts {

}

.contacts h2 {
  font-family: var(--font-gilroy);
  font-weight: var(--font-weight-extrabold);
  font-size: var(--font-size-head-big);
  line-height: var(--line-height-head-big);
  color: var(--color-black);
}

/* Footer */

.footer {
  color: var(--color-white);

  background-color: var(--color-dark-text);
}

.footer-wrap {
  display: grid;
  grid-template-columns: 370px 1fr;
  padding: 60px 0;
}

.footer-column:first-of-type {
  position: relative;
}

.footer-column:first-of-type::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 80px;
  height: 7px;

  background-color: #FFC600;
}

.footer-column:nth-of-type(2) {
  display: grid;
  grid-template-columns: 1fr 200px;
  grid-template-rows: repeat(3, min-content);
  grid-row-gap: 40px;
}

.footer-logo:hover,
.footer-logo:focus {
  opacity: 0.6;
}

.footer-logo:active {
  opacity: 0.3;
}

.footer-features-links,
.footer-socials-links {
  margin: 0;
  padding: 0;

  list-style: none;
}

.footer-features-links {
  display: flex;
  justify-content: space-between;
  width: 430px;
}

.footer-features-links a:hover,
.footer-features-links a:focus {
  opacity: 0.6;
}

.footer-features-links a:active {
  opacity: 0.3;
}

.footer-features-links a {
  font-family: var(--font-gilroy);
  font-weight: var(--font-weight-extrabold);
  font-size: var(--font-size-head);
  line-height: var(--line-height-head);
  color: var(--color-white);
  text-transform: uppercase;
  letter-spacing: 3.6px;
}

.footer-socials-links {
  grid-row: 3;
  display: flex;
  margin-left: 130px;
  min-width: 300px;

}

.footer-socials-links li:not(:last-of-type) {
  margin-right: 23px;
}

.footer-socials-links .social-icon-link {
  display: block;
  width: 32px;
  height: 32px;
  opacity: 1;
}

.footer-socials-links .social-icon-link:hover,
.footer-socials-links .social-icon-link:focus {
  opacity: 0.6;
}

.footer-socials-links .social-icon-link:active {
  opacity: 0.1;
}
/*
.footer-socials-links .social-icon-link-facebook {
  background-image: url("../img/fb.svg");
}

.footer-socials-links .social-icon-link-instagram {
  background-image: url("../img/instagram.svg");
}

.footer-socials-links .social-icon-link-twitter {
  background-image: url("../img/twitter.svg");
} */

.footer-navigation-user-list-wrap {
  grid-column: 1 / -1;
  display: flex;
  justify-content: end;
}

.footer-navigation-user-list {
  /* width: 340px; */
  margin-bottom: 0;
}

.footer-navigation-user-item a {
  color: var(--color-white);
  opacity: 0.7;
}

.footer-navigation-user-item a:hover,
.footer-navigation-user-item a:focus {
  opacity: 1;
}

.footer-navigation-user-item a:active {
  opacity: 0.3;
}

.footer-navigation-user-item.navigation-user-login {
  padding-right: 0;
  /* opacity: 1; */
}

.footer-navigation-user-item.navigation-user-exit a {
  opacity: 1;
}

.footer-navigation-user-item.navigation-user-exit a:active {
  opacity: 0.3;
}

.footer-navigation-user-item.navigation-user-login a::before,
.footer-navigation-user-item.navigation-user-compare a::before,
.footer-navigation-user-item.navigation-user-busket a::before{
  content: "";
  position: absolute;
  top: 10px;
  left: 0;
  width: 12px;
  height: 13px;

  background-repeat: no-repeat;
  background-position: 0 0;
}

.footer-navigation-user-item.navigation-user-login a::before {
  background-image: url("../img/user-yellow.svg");
}

.footer-navigation-user-item.navigation-user-compare a::before {
  background-image: url("../img/compare-yellow.svg");
}

.footer-navigation-user-item.navigation-user-busket a::before {
  background-image: url("../img/cart-yellow.svg");
}


.footer .link-phone-number {
  color: var(--color-white);
}


/* Modals */

/* Modal Write us */

.write-us {

}

.write-us-form {

}

.write-us-form .button {
  margin-top: auto;
  margin-right: auto;
  padding: 0 35px;
}

.write-us-form-wrap * {
  box-sizing: border-box;
}

.write-us-form-wrap {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 40px;
  grid-row-gap: 20px;
  width: 960px;
  padding: 90px;
  background-color: #CDCDCD;
}

.write-us-form-field-name,
.write-us-form-field-email {
  display: flex;
  flex-direction: column;
}

.write-us-form-field-textarea {
  margin-bottom: 20px;
}

.write-us-form label {
  margin-bottom: 15px;

  font-family: var(--font-gilroy);
  font-weight: var(--font-weight-extrabold);
  font-size: var(--font-size-head);
  line-height: var(--line-height-head);
  color: var(--color-black);
}

.write-us-form-field-textarea {
  grid-column: 1 / -1;
}

.write-us-form textarea {
  width: 100%;
}

.write-us-form input,
.write-us-form textarea {
  padding: 15px 20px;

  font-size: 14px;
  line-height: 18px;

  color: var(--color-dark-text);
  background-color: #D9D9D9;
  border: none;

  /* color: rgba(234, 234, 234, 0.4); */
}

.write-us-form input::placeholder,
.write-us-form textarea::placeholder {
  color: rgba(0, 0, 0, 0.4);
}

.write-us-form input:hover,
.write-us-form textarea:hover {
  background-color: #EAEAEA;
}

.write-us-form input:focus,
.write-us-form textarea:focus {
  color: var(--color-dark-text);

  background-color: #F5F5F5;
  outline: 3px solid var(--color-light-yellow);
}

.write-us-form input:focus::placeholder,
.write-us-form textarea:focus::placeholder {
  color: var(--color-dark-text);
}

/* Modal Map */

.map {

}
