/* Variables */

:root {
    --basic-color: #000;
    --accept-color: #fff;

    --font-weight-regular: 400;
    --font-weight-light: 300;
    --font-weight-extrabold: 800;
}

/* Fonts */

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 300;
    src:
        url("fonts/opensanslight.woff2") format("woff2"),
        url("fonts/opensanslight.woff") format("woff")
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    src:
        url("fonts/opensans.woff2") format("woff2"),
        url("fonts/opensans.woff") format("woff")
}

@font-face {
    font-family: "Gilory";
    font-style: normal;
    font-weight: 400;
    src:
        url("fonts/gilroylight.woff2") format("woff2"),
        url("fonts/gilroylight.woff") format("woff")
}

@font-face {
    font-family: "Gilory";
    font-style: normal;
    font-weight: 800;
    src:
        url("fonts/gilroyextrabold.woff2") format("woff2"),
        url("fonts/gilroyextrabold.woff") format("woff")
}

/* Global */

body {
    font-family: "Open Sans", "Arial", sans-serif;
    font-weight: var(--font-weight-light);
}
